<div style="text-align: center;">
    <h1 style="color: #c0a16b">
        <b>Sorry!</b>
    </h1>
    <h4 style="color:  #800080">
        <b>Something went wrong!</b>
    </h4>
    <h4 style="color:  #800080">
        Go back to home page by clicking @Html.ActionLink("here", "Index", "Home")
    </h4>
</div>
