@{
    ViewBag.Title = "Index";
}

<body class="text-center">
    <h1 style="color: darkmagenta; font-family: 'Agency FB';">Welcome to the playlist management system!</h1>
    <p>
        <h2 style="font-family: 'Agency FB'">
            Here you can see all the songs that you have saved to your playlists, as well as add new ones. Be sure to check back
            as our team adds new songs each week.
        </h2>
    </p>
    <h3 style="font-family:'Agency FB'">
        In the meantime, you can check out some cool music websites to get you inspired and discover new music!
    </h3>
    <div>
        <img src="https://static.pexels.com/photos/63703/pexels-photo-63703.jpeg" style="width: 100%; height: auto; border-radius:25px" />
    </div>
    <p>
        <ul class="lead" style="font-size: xx-large">
            <li style="list-style-type:none"><a href="https://www.shazam.com/" target="_blank">Mysterious Link #1</a></li>
            <li style="list-style-type:none"><a href="https://www.spotify.com/us/" target="_blank">Mysterious Link #2</a></li>
            <li style="list-style-type:none"><a href="http://www.musicroamer.com/#/" target="_blank">Mysterious Link #3</a></li>
        </ul>
    </p>
</body>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>