@{
    ViewBag.Title = "Index";
}

<body class="text-center">
    <h2 style="color: darkmagenta">Welcome to the playlist management system!</h2>
    <h3>
        Here you can see all the songs that you have saved to your playlists, as well as add new ones. Be sure to check back
        as our team adds new songs each week.
    </h3>
    <h4>
        In the meantime, you can check out some cool music websites to get you inspired and discover new music!
    </h4>
    <div>
        <img src="https://static.pexels.com/photos/63703/pexels-photo-63703.jpeg" style="width: 550px" />
    </div>
    <ul class="lead">
        <li style="list-style-type:none"><a href="https://www.shazam.com/" target="_blank">Mysterious Link #1</a></li>
        <li style="list-style-type:none"><a href="https://www.spotify.com/us/" target="_blank">Mysterious Link #2</a></li>
        <li style="list-style-type:none"><a href="http://www.musicroamer.com/#/" target="_blank">Mysterious Link #3</a></li>
    </ul>
</body>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>