<div style="height:100px;"></div>
<div style="text-align: center;">
    <h2 sstyle="color: #800080">
        <b>Thank you for confirming your email.</b>
    </h2>
    <h2 style="color: #800080">
        @Html.ActionLink("Go to login page.", "Login", "Account")
    </h2>
</div>
<div style="height:100px;"></div>
